body {
    padding: 20px;
    text-align: center;
}

.field {
    padding: 2px;
    margin: 4%;
}

.panel {
    text-align: center;
    display: block;
    margin: 5%;
    padding: 5%;
}

.formButton {
    margin: 2% 0%;
    padding: 5px;
    width: 150px;
    text-align: center;
}

.error {
    color: red;
}

.output {
    color: green;
}
